<a href="https://colab.research.google.com/github/Yu0323/Data-analysis/blob/main/%E3%83%86%E3%82%B9%E3%83%88%E3%81%AE%E7%82%B9%E6%95%B0%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6%E3%81%AE%E6%9E%B6%E7%A9%BA%E3%81%AE%E3%83%87%E3%83%BC%E3%82%BF%E3%82%BB%E3%83%83%E3%83%88%E3%82%92%E7%94%A8%E3%81%84%E3%81%9F%E3%83%87%E3%83%BC%E3%82%BF%E5%88%86%E6%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install japanize-matplotlib
import japanize_matplotlib
import os
import re
from datetime import datetime as dt
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Requirement already satisfied: japanize-matplotlib in /usr/local/lib/python3.10/dist-packages (1.1.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from japanize-matplotlib) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (4.47.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->japanize-matplotlib) (1.16.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
os.chdir('/content/drive/My Drive/Colab Notebooks')

In [ ]:
df = pd.read_csv('生徒のスコアデータ.csv',header= None)
# https://www.kaggle.com/datasets/desalegngeb/students-exam-scores からダウンロードしたデータの名前を変更した

In [ ]:
df
#データセットを表示

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,NaN,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
1,0.0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3,school_bus,< 5,71,71,74
2,1.0,female,group C,some college,standard,NaN,married,sometimes,yes,0,NaN,5 - 10,69,90,88
3,2.0,female,group B,master's degree,standard,none,single,sometimes,yes,4,school_bus,< 5,87,93,91
4,3.0,male,group A,associate's degree,free/reduced,none,married,never,no,1,NaN,5 - 10,45,56,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30637,816.0,female,group D,high school,standard,none,single,sometimes,no,2,school_bus,5 - 10,59,61,65
30638,890.0,male,group E,high school,standard,none,single,regularly,no,1,private,5 - 10,58,53,51
30639,911.0,female,NaN,high school,free/reduced,completed,married,sometimes,no,1,private,5 - 10,61,70,67
30640,934.0,female,group D,associate's degree,standard,completed,married,regularly,no,3,school_bus,5 - 10,82,90,93
30641,960.0,male,group B,some college,standard,none,married,never,no,1,school_bus,5 - 10,64,60,58

In [ ]:
df = df.drop([0], axis=1)
#IDカラムを削除→このデータセットではインデックスで指定

In [ ]:
df = df.rename(columns = {1: '性別',2: '民族',3:'両親の学歴',4:'ランチの種類',5:'テスト対策コースへの取り組み',6:'親の婚姻状況',7:'スポーツへの取り組み',8:'最初の子供か',8:'兄弟の人数',10:'通学手段',11:'週当たりの勉強時間',12:'数学のテストの点数',13:'リーディングテストの点数',14:'ライティングテストの点数' })
#カラム名を日本語に変更

In [ ]:
df = df.drop(index=0)
#0行目の削除

In [ ]:
df.info()
#欠損データの確認

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 1 to 30641
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   性別              30641 non-null  object
 1   民族              28801 non-null  object
 2   両親の学歴           28796 non-null  object
 3   ランチの種類          30641 non-null  object
 4   テスト対策コースへの取り組み  28811 non-null  object
 5   親の婚姻状況          29451 non-null  object
 6   スポーツへの取り組み      30010 non-null  object
 7   兄弟の人数           29737 non-null  object
 8   9               29069 non-null  object
 9   通学手段            27507 non-null  object
 10  週当たりの勉強時間       29686 non-null  object
 11  数学のテストの点数       30641 non-null  object
 12  リーディングテストの点数    30641 non-null  object
 13  ライティングテストの点数    30641 non-null  object
dtypes: object(14)
memory usage: 3.3+ MB